{% extends 'base.html' %}

{% block title %}Деталі події {{ event.title }}{% endblock %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/event_details.css' %}">
</head>

<h1 class="head">Деталі події {{ event.title }}</h1>
<div class="text-container">
    <h1 class="head" style="color: #5D8CB3;">{{ event.title }}</h1>
    <p>{{ event.description|linebreaks }}</p>
    <p>{{ event.date_start }} - {{ event.date_end }}</p>
    <img src="{{event.img.url}}" alt="event preview">
</div>
{% endblock %}