{% extends 'base.html' %}

{% block title %}Форум{% endblock %}


{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
</head>

<div class="forums-container">
    <!-- Блок категорий -->
    <div class="forums-block">
        <h2 class="forums-block-title">Категорії</h2>
        <form method="get" id="sortForm" style="margin-bottom: 6px;">
            {{ sort_form.sort_by }}
        </form>
        {% for category in categories %}
        <a href="{% url 'category-detail' category.id %}" class="forums-category-item">
            <div class="forums-category-item-title">{{ category.name }}</div>
            <p class="forums-category-item-description">
                {{ category.description|slice:":50" }}{% if category.description|length > 50 %}...{% endif %}
            </p>
        </a>
        {% empty %}
        <p>Не має доступних категорій.</p>
        {% endfor %}
    </div>

    <!-- Блок тем -->
    <div class="forums-block">
        <button class="forums-create-topic-btn" id="create-topic-btn">
            <span class="forums-create-topic-icon" id="create-topic-icon">+</span>
            Створити нову тему
        </button>
    
        {% for topic in topics %}
        <a href="{% url 'topic-detail' topic.id %}" class="forums-topic-item">
            <div class="forums-topic-item-title">{{ topic.title }}</div>
            <p class="forums-topic-item-description">Опис: {{ topic.content|truncatechars:50 }}</p>
            <div class="topic-bottom-container">
                <p class="forums-topic-item-date">Створено: {{ topic.created_at }}</p>
            </div>
        </a>
        {% empty %}
        <p>Немає тем для обговорення</p>
        {% endfor %}
    </div>
</div>

<script>
    const createTopicBtn = document.getElementById('create-topic-btn');
    const createTopicIcon = document.getElementById('create-topic-icon');
    
    // Флаг, указывающий, идет ли сейчас анимация
    let isRotating = false;
    
    // Анимация вращения при наведении мыши
    createTopicBtn.addEventListener('mouseenter', () => {
        if (!isRotating) {
            isRotating = true;
            createTopicIcon.classList.add('rotating');
        }
    });
    
    createTopicIcon.addEventListener('animationend', () => {
        isRotating = false;
        createTopicIcon.classList.remove('rotating');
    });
    
    // Обработка клика, перенаправление по адресу
    createTopicBtn.addEventListener('click', () => {
        window.location.href = "{% url 'create-topic' %}";
    });


    
    document.querySelector('[name="sort_by"]').addEventListener('change', function() {
        document.getElementById('sortForm').submit();
    });
</script>
{% endblock %}

