<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="top-panel">
        <!-- Левая секция -->
        <div class="left-section">
            <a href="{% url 'index' %}">
                <button class="panel-button"><b>Головна</b></button>
            </a>
        </div>
    
        <!-- Центральная секция -->
        <div class="center-section">
            <a href="{% url 'forum' %}">
                <button class="panel-button"><b>Форум</b></button>
            </a>
            <a href="{% url 'events-list' %}">
                <button class="panel-button"><b>Події</b></button>
            </a>
            <div class="dropdown">
                <input type="checkbox" id="toggle" class="dropdown-toggle">
                <label for="toggle" class="panel-button dropdown-label">
                    <b>Інше</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <button class="small-button">Кнопка</button>
                    <button class="small-button">Кнопка</button>
                    <button class="small-button">Кнопка</button>
                </div>
            </div>
        </div>
    
        <!-- Правая секция -->
        <div class="right-section">
            <a href="{% url 'login' %}" class="login-button"><b>Логін</b></a>
            <a href="{% url 'register' %}" class="register-button"><b>Реєстрація</b></a>
        </div>
    </div>
</body>

{% block content %}
<a href="{% url 'create-topic' %}">Create New Topic</a>

<h1>Категорії</h1>
{% if categories %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'category-detail' category.id %}">{{ category.name }}</a>
                <p>{{ category.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No categories available.</p>
{% endif %}
{% endblock %}