{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<h1>Forum Categories</h1>

{% if categories %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'category-detail' category.id %}">{{ category.name }}</a>
                <p>{{ category.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No categories available.</p>
{% endif %}
