{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>


<h1 class="head">Головна сторінка</h1>

<div class="events_div">
    <div class="events_title">
        <h3>Події сайту</h3>
    </div>
    <div class="event-cards-field">
        {% for event in events %}
            <div class="event-cards">
                <div class="event-cart-background" style="background: url('{{ event.img.url }}') no-repeat center/cover;"></div>
                <img src="{{event.img.url}}" alt="event preview">
                <h3>{{event.title}}</h3>
                <h4>{{event.date_start.date}} - {{event.date_end.date}}</h4>
            </div>
        {% empty %}
            <div class="not-events-message">
                <h1>Наразі на сайті немає актуальних подій</h1>
            </div>
        {% endfor %}
    </div>
</div>

<div class="forums-category-container">
    <h1 class="head">Популярні категорії цього тижня</h1>
    {% for category in categories %}
        <a href="{% url 'category-detail' category.id %}" class="forums-category-item">
            <div class="forums-category-item-left">
                <div class="forums-category-item-title">{{ category.name }}</div>
                <div class="forums-category-item-description">{{ category.description }}</div>
            </div>
            <p class="forums-category-item-topic-count">За останні 7 днів: +{{ category.topic_count }} тем(и)</p>
        </a>
    {% endfor %}
</div>


{% endblock %}