{% extends 'base.html' %}

{% block title %}{{topic.title}}{% endblock %}

{% load custom_tags %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forum-topic.css' %}">
</head>

<!-- Основной блок информации о topic -->
<div class="topic">
<div class="left-container">
    <div id="topics-main-container" class="topics-main-container">
        <div class="topics-content">
            <div class="topic-head">
                <a href="{% url 'category-detail' topic.category.id %}" class="back-to-category">←</a>
                <a href="{% url 'profile' topic.created_by.username %}"><img src="{{ topic.created_by.avatar.url }}" alt="avatar" class="topics-avatar"></a>
                <div class="topic-head-right">
                    <div class="topic-head-top">
                        <a href="{% url 'category-detail' topic.category.pk %}"><h3>{{ topic.category.name }}</h3></a> 
                        <h5> ● {{topic.created_at}}</h5>

                        {% if topic.updated %}
                            <h5 style="margin-left: auto;">змінено</h5>
                        {% endif %}
                    </div>
                    <div class="topic-head-bottom">
                        <a href="{% url 'profile' topic.created_by.username %}"><p>{{ topic.created_by.username }}</p></a>
                    </div>
                </div>
            </div>
            <h1 class="topics-title">{{ topic.title }}</h1>
            <p class="topics-description">{{ topic.content|linebreaks }}</p>
            {% if topic.img %}
                <img src="{{topic.img.url}}" alt="users image">
            {% endif %}
        </div>
    </div>

    <!-- Интерфейс с кнопкой Лайк и Комментарии -->
    <div class="topics-interaction-container">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="like" class="topics-like-btn">
                {% if request.user in topic.likes.all %}
                    👎 {{ likes_count }}
                {% else %}
                    ❤️ {{ likes_count }}
                {% endif %}
            </button>
        </form>

        <button class="topics-comment-btn">💬</button>

        <div class="topics-actions">
            {% if request.user == topic.created_by %}
                <a href="{% url 'update-topic' topic.id %}" class="topics-edit-btn">Змінити</a>
            {% endif %}
            {% if request.user == topic.created_by or request.user.is_staff %}
                <a href="{% url 'delete-topic' topic.pk %}" class="topics-delete-btn">Видалити</a>
            {% endif %}
        </div>
    </div>

    <!-- Секция для ввода комментариев с анимацией -->
    <div class="topics-comment-section">
        <form method="post">
            {% csrf_token %}
            <textarea name="content" class="topics-comment-input" rows="3" required placeholder="Напишіть ваш коментар" maxlength="1200"></textarea>
            <button type="submit" name="comment" class="topics-add-comment-btn">Додати коментарії</button>
        </form>
    </div>
</div>
<!-- Дополнительный блок с комментариями справа -->
<div class="right-container">
    <div id="topics-side-comments" class="topics-side-comments">
        <h2>Коментарі</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong><a href="{% url 'profile' comment.created_by.username %}" style="text-decoration: none; color: #5D8CB3;">{{ comment.created_by.username }}</a>{% if comment.created_by.pk == topic.created_by.pk %} [ТС]{% endif %}:</strong>
                    {{ comment.content }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const commentBtn = document.querySelector('.topics-comment-btn');
        const commentSection = document.querySelector('.topics-comment-section');

        commentBtn.addEventListener('click', () => {
            commentSection.style.display = commentSection.style.display === 'block' ? 'none' : 'block';
        });
    });

    window.addEventListener('load', () => {
        const div1 = document.getElementById('topics-main-container');
        const div2 = document.getElementById('topics-side-comments');
        div2.style.height = `${div1.offsetHeight + 40}px`;
    });
</script>

<!-- <h2>Опитування</h2>
{% for poll in topic.polls.all %}
    <div>
        <h3>{{ poll.name }}</h3>
        <p>{{ poll.description }}</p>
        {% if request.user.is_authenticated and poll|has_voted:request.user %}
            <ul>
                {% for option in poll.options.all %}
                    <li>
                        {{ option.text }} - {{ option.votes }} голоси
                        ({{ option.votes|floatformat:2 }}%)
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <form method="post" action="{% url 'vote' poll.id %}">
                {% csrf_token %}
                {% for option in poll.options.all %}
                    <label>
                        <input type="radio" name="option" value="{{ option.id }}">
                        {{ option.text }}
                    </label><br>
                {% endfor %}
                <button type="submit">Голосувати</button>
            </form>
        {% endif %}
    </div>
{% empty %}
    <p>Не існує доступних тем.</p>
{% endfor %}

{% if request.user == topic.created_by %}
    <a href="{% url 'create-poll' topic.id %}">Створити опитування</a>
{% endif %} -->
{% endblock %}
