/* Основной текст над блоком */
.topics-header-container {
    margin: 0 0px 0px 370px;
}

.topics-header {
    color: #5D8CB3;
    font-size: 28px;
}

/* Основной контейнер с формой */
.topics-main-container {
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Группировка элементов формы */
.topics-form-group {
    margin-bottom: 20px;
}

/* Select */
.topics-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #5D8CB3;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

/* Поле ввода темы */
.topics-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #5D8CB3;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

/* Поле ввода обсяга */
.topics-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #5D8CB3;
    border-radius: 5px;
    resize: none;
    background-color: #333333;
    color: #ffffff;
}

/* Кнопка */
.topics-submit-btn {
    background-color: #276e27;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.topics-submit-btn:hover {
    background-color: #2aae2a;
}