{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Your daily</h1>
    <hr>
    <ul>
        {% for lesson in lessons %}
        <li>
            <p>{{lesson.date}}</p>
            <p>Тема уроку: {{lesson.theme}}</p>
            <p>{{status.presence}}</p>
            
        </li>
        <form method="post">
            {{ form.status.label_tag }}
            {{ form.status}}
        </form>
        <p><a href="{% url 'homework-detail' lesson.pk %}"> Homework: </a>
            {{lesson.grade}}</p>
        {% endfor %}
        

    </ul>


</body>
</html>
{% endblock %}