{% extends 'base.html' %}

{% block title %}Домашнє завдання{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homework.css' %}">
</head>
    <div class="homework">
        <div class="homework-header">
            <h2>Домашка №{{ lesson.pk }}</h2>
        </div>
        <div class="homework-content">
            <h3 class="homework-title">{{ lesson.title }}</h3>
            <p class="homework-description">{{ lesson.homework }}</p>
            <p class="homework-file">{{ lesson.file }}</p>
            <p class="homework-created">Дата створення: {{ lesson.date }}</p>
        </div>
        <div class="homework-footer">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Зберегти</button>
            </form>
            <a href="/daily/" class="homework-back-btn">Назад</a>
        </div>
    </div>
{% endblock %}