<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="top-panel">
        <form action="{% url 'index' %}">
            <button type="submit" class="panel-button">Кнопка 1</button>
        </form>
        <button class="panel-button">Кнопка 2</button>
        <div class="dropdown">
            <input type="checkbox" id="toggle" class="dropdown-toggle">
            <label for="toggle" class="panel-button dropdown-label">
                Кнопка 3
                <span class="arrow"></span>
            </label>
            <div class="dropdown-menu">
                <a href="{%url 'index'%}"><button class="small-button">Головна</button></a>
                <a href="{%url 'forum'%}"><button class="small-button">Форум</button></a>
                <a href="{%url 'events-list'%}"><button class="small-button">події</button></a>
            </div>
        </div>
    </div>
    <div class="horizontal-line"></div>

    <a href="{% url 'index' %}"><h1>Portal Group</h1></a>
    {% block content %}
    {% endblock %}
</body>
</html>