<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="top-panel">
        <form action="/">
            <button type="submit" class="panel-button">Головна</button>
        </form>
        <form action="forum/">
            <button type="submit" class="panel-button">Форум</button>
        </form>
        <div class="dropdown">
            <input type="checkbox" id="toggle" class="dropdown-toggle">
            <label for="toggle" class="panel-button dropdown-label">
                Інше
                <span class="arrow"></span>
            </label>
            <div class="dropdown-menu">
                <button class="small-button">Кнопка</button>
                <button class="small-button">Кнопка</button>
                <button class="small-button">Кнопка</button>
            </div>
        </div>
    </div>
    <div class="horizontal-line"></div>

    <!-- <a href="{% url 'index' %}"><h1>Portal Group</h1></a> -->
    {% block content %}
    {% endblock %}
</body>
</html>