{% extends 'base.html' %}

{% block title %}Галерея{% endblock %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>

<div class="gallery">
    <h1 class="head">Галерея</h1>
    {% if request.user.is_staff %}
        <a href="{% url 'gallery-create' %}"><button class="add-foto-button">Додати фото</button></a>
    {% endif %}

    {% for gallery_item in gallery_items %}
        {% if gallery_item.url %}
            <a href="{{gallery_item.url}}" target="_blank"><div class="gallery-item" id="{{gallery_item.id}}">
                <img src="{{gallery_item.img.url}}" alt="gallery-item">
                <h1>{{gallery_item.title}}</h1>
                <div class="fade-line"></div>
            </div></a>
        {% else %}
            <div class="gallery-item" id="{{gallery_item.id}}">
                <img src="{{gallery_item.img.url}}" alt="gallery-item">
                <h1>{{gallery_item.title}}</h1>
                <div class="fade-line"></div>
            </div>
        {% endif %}
    {% empty %}
            <h1 class="head" style="color: #5D8CB3;">Наразі в галереї немає фото</h1>
    {% endfor %}
</div>

{% endblock %}