{% extends 'base.html' %}

{% block title %}Галерея{% endblock %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>

<div class="gallery">
    <h1 class="head">Перевірка фото</h1>

    {% for gallery_item in gallery_items %}
    <a href="{% url 'gallery-verificate' gallery_item.pk %}"><button class="add-foto-button" style="margin-bottom: 10px;">Додати фото {{gallery_item.title}}</button></a>
    <a href="{% url 'gallery-delete' gallery_item.pk %}"><button class="add-foto-button" style="margin-bottom: 10px;">Забракувати фото {{gallery_item.title}}</button></a>
        {% if gallery_item.url %}
            <a href="{{gallery_item.url}}" target="_blank"><div class="gallery-item" id="{{gallery_item.id}}">
                <img src="{{gallery_item.img.url}}" alt="gallery-item">
                <h1>{{gallery_item.title}}</h1>
                <div class="fade-line"></div>
            </div></a>
        {% else %}
            <div class="gallery-item" id="{{gallery_item.id}}">
                <img src="{{gallery_item.img.url}}" alt="gallery-item">
                <h1>{{gallery_item.title}}</h1>
                <div class="fade-line"></div>
            </div>
        {% endif %}
    {% empty %}
            <h1 class="head" style="color: #5D8CB3;">Нічого верифікувати</h1>
    {% endfor %}
</div>

{% endblock %}